<div class="form-ctn">
    <form [formGroup]="addAttendeeForm">
        <div class="input-ctn full">
            <label for="">Email*</label>
            <input type="text" formControlName="email" placeholder="Email">
        </div>
        <div class="inputs-ctn flex">
            <div class="input-ctn">
                <label for="">Prénom*</label>
                <input type="text" formControlName="firstName" placeholder="Prénom">
            </div>
            <div class="input-ctn">
                <label for="">Nom*</label>
                <input type="text" formControlName="lastName" placeholder="Nom">
            </div>
        </div>
        <div class="inputs-ctn flex">
            <div class="input-ctn">
                <label for="">Diplôme possédé*</label>
                <select class="input" formControlName="diplomaId">
                    <option value="" selected disabled hidden>Choisissez un diplôme</option>
                    <option *ngFor="let diploma of diplomasList" [value]="diploma.id">
                        {{diploma.name}}
                    </option>
                </select>
            </div>
            <div class="input-ctn">
                <label for="">Département de résidence*</label>
                <select class="input" formControlName="region">
                    <option value="" selected disabled hidden>Choisissez un département</option>
                    <option *ngFor="let region of regionsList" [value]="region.code">
                        {{region.name}}
                    </option>
                </select>
            </div>
            <div class="input-ctn">
                <label for="">Participation à la JPO*</label>
                <select class="input" formControlName="isIrlAttendee">
                    <option [value]="null" selected disabled hidden>Choisissez une valeur</option>
                    <option [value]="true">Présentielle</option>
                    <option [value]="false">Distancielle</option>
                </select>
            </div>
        </div>

        <small class="form-help">*Champs obligatoires</small>

        <div class="form-btns-ctn">
            <button *ngIf="!isSubmitting" class="form-btn" type="button" [disabled]="!addAttendeeForm.valid">Ajouter</button>
            <button *ngIf="isSubmitting" class="form-btn w-loader" type="button" disabled>
                Ajouter
                <span class="loader"></span>
            </button>
        </div>
    </form>
</div>
