<div class="background">
    <div class="content-w-gutter">
        <h1 class="section-title">FAQ</h1>
        <div class="track">
            <ul>
                <li id="one">
                    <article data-glow (click)="goToContent('one')">
                        <div class="accordion-header" (click)="expand(faqAccordionAnswer1, rotatingIcon)">
                            <h2 class="accordion-question">Où est situé l'IUT ?</h2>
                            <i #rotatingIcon class="bi bi-plus-lg"></i>
                        </div>
                        <div #faqAccordionAnswer1 class="accordion-answer">
                            <p>
                                L'IUT se situe dans le centre ville de Meaux, à 5 minutes à pied de la gare. La ligne P ainsi que de nombreuses lignes de bus rendent
                                l'IUT ainsi que ses alentours très accessibles. Pour plus d'informations, rendez-vous sur la page <a routerLink="/about" class="accordion-link">Infos pratiques</a>.
                            </p>
                        </div>
                    </article>
                  </li>
                  <li id="two">
                    <article data-glow (click)="goToContent('two')">
                        <div class="accordion-header" (click)="expand(faqAccordionAnswer2, rotatingIcon)">
                            <h2 class="accordion-question">Quel est le programme de la journée portes ouvertes (JPO) ?</h2>
                            <i #rotatingIcon class="bi bi-plus-lg"></i>
                        </div>
                        <div #faqAccordionAnswer2 class="accordion-answer">
                            <p>
                                La JPO se déroulera en deux temps : une partie virtuelle et une partie physique.
                                La partie virtuelle se déroulera du 1er au 3 Février 2021 et la partie physique se déroulera le 3 Février 2021.
                                Pour plus d'informations, vous pouvez consulter le programme <a routerLink="/jpo" class="accordion-link">ici</a>.
                            </p>
                        </div>
                    </article>
                  </li>
                  <li id="three">
                    <article data-glow (click)="goToContent('three')">
                        <div class="accordion-header" (click)="expand(faqAccordionAnswer3, rotatingIcon)">
                            <h2 class="accordion-question">Comment puis-je déclarer ma participation à la JPO physique du 3 Février ?</h2>
                            <i #rotatingIcon class="bi bi-plus-lg"></i>
                        </div>
                        <div #faqAccordionAnswer3 class="accordion-answer">
                            <p>
                                Pour déclarer votre participation à la JPO physique du 3 Février, il vous suffit de vous rendre sur la page <a routerLink="/jpo">JPO</a>
                                et de remplir le formulaire de participation.
                            </p>
                        </div>
                    </article>
                  </li>
                  <li id="four">
                    <article data-glow (click)="goToContent('four')">
                        <div class="accordion-header" (click)="expand(faqAccordionAnswer5, rotatingIcon)">
                            <h2 class="accordion-question">Quel type de matériel mettez-vous à la disposition des étudiants ?</h2>
                            <i #rotatingIcon class="bi bi-plus-lg"></i>
                        </div>
                        <div #faqAccordionAnswer5 class="accordion-answer">
                            <p>
                                Afin que chaque étudiant puisse travailler dans les meilleures conditions, nous mettons à
                                disposition des salles informatiques équipées de postes fixes et de logiciels professionnels.
                                Les étudiants peuvent également emprunter du matériel (appareils photo, caméras, tablettes, casques de réalité virtuelle, etc.)
                                pour réaliser leurs projets.
                            </p>
                        </div>
                    </article>
                  </li>
                  <li id="five">
                    <article data-glow (click)="goToContent('five')">
                        <div class="accordion-header" (click)="expand(faqAccordionAnswer6, rotatingIcon)">
                            <h2 class="accordion-question">Est-il possible de faire de l'alternance pendant ce cursus ?</h2>
                            <i #rotatingIcon class="bi bi-plus-lg"></i>
                        </div>
                        <div #faqAccordionAnswer6 class="accordion-answer">
                            <p>
                                Oui, il est possible de réaliser la dernière année du cursus en alternance. Les étudiants n'ayant 
                                pas d'alternance ou ne souhaitant pas en effectuer peuvent réaliser l'année en formation initiale.
                                Cependant, il est important de noter que ces derniers devront réaliser un stage en entreprise d'une 
                                durée de 3 à 4 mois afin de valider leur année.
                            </p>
                        </div>
                    </article>
                  </li>
            </ul>
            <div class="track__indicators" aria-hidden="true">
                <a class="indicator" (click)="goToContent('one')"></a>
                <a class="indicator" (click)="goToContent('two')"></a>
                <a class="indicator" (click)="goToContent('three')"></a>
                <a class="indicator" (click)="goToContent('four')"></a>
                <a class="indicator" (click)="goToContent('five')"></a>
            </div>
        </div>
    </div>