<nav>
    <img routerLink="" class="logo" src="assets/Logo_Université_Gustave_Eiffel_2020.svg" alt="">

    <div class="nav-links">

        <div class="nav-cta">
            <p>Visite virtuelle</p>
        </div>

        <div class="nav-link-ctn" routerLink="/but-mmi" routerLinkActive="active">
            <a class="nav-link">BUT MMI</a>
        </div>

        <div class="nav-link-ctn">
            <a class="nav-link" routerLink="/about">Infos pratiques</a>
        </div>

        <div class="nav-link-ctn">
            <a class="nav-link" routerLink="/about">FAQ</a>
        </div>

    </div>
</nav>