<nav class="desktop-nav" *ngIf="!isHandheld">
        
    <img routerLink="" class="logo" src="assets/Logo_Université_Gustave_Eiffel_2020.svg" alt="">

    <div class="nav-links">

        <div class="nav-cta">
            <p>Visite virtuelle</p>
        </div>

        <div class="nav-link-ctn" routerLink="/but-mmi" routerLinkActive="active">
            <a class="nav-link">BUT MMI</a>
        </div>

        <div class="nav-link-ctn" routerLink="/faq" routerLinkActive="active">
            <a class="nav-link">FAQ</a>
        </div>

    </div>
</nav>

<nav class="handheld-nav" *ngIf="isHandheld">
    <div (click)="showSidebar = !showSidebar">
        <i class="bi bi-list list-icon"></i>
    </div>

    <div class="logo-min-ctn" routerLink="">
        <svg class="logo-min" id="a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 102.5 102.09">
            <g id="b">
                <path id="c"
                    d="M70.08,85.37c-5.54-3.8-12.11-5.85-18.78-5.85-8.93,0-17.34,3.28-23.5,9.34-3.28,3.28-5.85,7.08-7.49,11.49l-.72,1.74h14.47l.41-.62c.72-1.13,1.64-2.26,2.67-3.18,3.69-3.59,8.72-5.64,14.26-5.64,6.67,0,12.83,3.28,16.62,8.82l.41.51h14.57l-.92-1.64c-2.46-6.05-6.67-11.18-12-14.98"
                    stroke-width="0" />
                <path id="d"
                    d="M13.24,27.7c-3.28-3.28-7.08-5.85-11.49-7.49l-1.74-.72v14.47l.62.41c1.13.72,2.26,1.64,3.18,2.67,3.59,3.69,5.64,8.72,5.64,14.26,0,6.67-3.28,12.83-8.82,16.62l-.62.31v14.57l1.74-.72c6.05-2.46,11.29-6.67,14.98-12,3.8-5.64,5.85-12.11,5.85-18.88,0-8.93-3.28-17.34-9.34-23.5"
                    stroke-width="0" />
                <path id="e"
                    d="M32.53,16.83c5.54,3.8,12.11,5.85,18.78,5.85,8.93,0,17.34-3.28,23.5-9.34,3.28-3.28,5.85-7.08,7.49-11.49l.72-1.74h-14.47l-.41.62c-.72,1.13-1.64,2.15-2.57,3.18-3.69,3.59-8.82,5.54-14.26,5.54-6.67,0-12.83-3.28-16.62-8.82l-.41-.62h-14.57l.72,1.85c2.46,6.05,6.67,11.29,12.11,14.98"
                    stroke-width="0" />
                <path id="f"
                    d="M101.99,34.48l.51-.41v-14.57l-1.74.72c-6.05,2.46-11.29,6.67-14.98,12-3.8,5.54-5.85,12.11-5.85,18.88,0,8.93,3.28,17.34,9.34,23.5,3.28,3.28,7.08,5.85,11.49,7.49l1.74.72v-14.47l-.62-.41c-1.13-.72-2.26-1.64-3.18-2.67-3.59-3.69-5.64-8.72-5.64-14.26.1-6.57,3.39-12.83,8.93-16.52"
                    stroke-width="0" />
                <path id="g"
                    d="M64.33,51.2c0,7.29-5.95,13.24-13.24,13.24s-13.13-5.95-13.13-13.24,5.95-13.24,13.24-13.24c7.18.1,13.13,5.95,13.13,13.24"
                    stroke-width="0" />
            </g>
        </svg>
    </div>

    <div class="sidebar-slider" [class.sidebar-slide-in]="showSidebar">
        <div class="sidebar-content">
            <div class="sidebar-head">
                <div (click)="showSidebar = !showSidebar">
                    <i class="bi bi-list list-icon"></i>
                </div>
                <img routerLink="" class="logo" src="assets/univ-eiffel-logo-min.svg" alt="" (click)="showSidebar = !showSidebar">
            </div>

            <div class="nav-links">

                <div class="nav-cta" routerLink="/virtual-tour" (click)="showSidebar = !showSidebar">
                    <p>Visite virtuelle</p>
                </div>
        
                <div class="nav-link-ctn" routerLink="/but-mmi" routerLinkActive="active" (click)="showSidebar = !showSidebar">
                    <a class="nav-link">BUT MMI</a>
                </div>
        
                <div class="nav-link-ctn" routerLink="/faq" routerLinkActive="active" (click)="showSidebar = !showSidebar">
                    <a class="nav-link">FAQ</a>
                </div>
        
            </div>
        </div>
    </div>

    <div *ngIf="showSidebar" class="sidebar-overlay" (click)="showSidebar = !showSidebar"></div>
</nav>