<nav class="desktop-nav" *ngIf="!isHandheld">
        
    <img routerLink="" class="logo" src="assets/Logo_Université_Gustave_Eiffel_2020.svg" alt="">

    <div class="nav-links">

        <div class="nav-cta">
            <p>Visite virtuelle</p>
        </div>

        <div class="nav-link-ctn" routerLink="/but-mmi" routerLinkActive="active">
            <a class="nav-link">BUT MMI</a>
        </div>

        <div class="nav-link-ctn" routerLink="/faq" routerLinkActive="active">
            <a class="nav-link">FAQ</a>
        </div>

    </div>
</nav>

<nav class="handheld-nav" *ngIf="isHandheld">
    <div (click)="showSidebar = !showSidebar">
        <i class="bi bi-list list-icon"></i>
    </div>

    <div class="logo-min-ctn" routerLink="">
        <img class="logo-min" src="assets/logo-min.png" alt="">
    </div>

    <div class="sidebar-slider" [class.sidebar-slide-in]="showSidebar">
        <div class="sidebar-content">
            <div class="sidebar-head">
                <div (click)="showSidebar = !showSidebar">
                    <i class="bi bi-list list-icon"></i>
                </div>
                <img routerLink="" class="logo" src="assets/logo-min.png" alt="" (click)="showSidebar = !showSidebar">
            </div>

            <div class="nav-links">

                <div class="nav-cta" routerLink="/virtual-tour" (click)="showSidebar = !showSidebar">
                    <p>Visite virtuelle</p>
                </div>
        
                <div class="nav-link-ctn" routerLink="/but-mmi" routerLinkActive="active" (click)="showSidebar = !showSidebar">
                    <a class="nav-link">BUT MMI</a>
                </div>
        
                <div class="nav-link-ctn" routerLink="/faq" routerLinkActive="active" (click)="showSidebar = !showSidebar">
                    <a class="nav-link">FAQ</a>
                </div>
        
            </div>
        </div>
    </div>

    <div *ngIf="showSidebar" class="sidebar-overlay" (click)="showSidebar = !showSidebar"></div>
</nav>