.content {
  width: 85vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--dash-bkg);
  padding: 50px 50px;
  gap: 20px;
  transition: all 200ms ease-in-out;
}

.section-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--primary);
}

.section-detail {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(117, 117, 117);
}

// mobile responsive
@media screen and (max-width: 500px) {
  .content {
    width: 100vw;
    padding: 50px 30px;
    padding-bottom: 80px;
  }
}