<div class="content">
    <div class="section-details">
        <h1 class="section-title">Participants</h1>
    </div>
        <!-- <div class="statistics-card">
        <div>
            <h1 class="chart-title">Provenance des participants (France)</h1>
        </div>
        <highcharts-chart id="container" [Highcharts]="frenchDepMap" [constructorType]="chartConstructor"
            [options]="frenchDepChartOptions" style="width: 100%; height: 600px; display: block;">
        </highcharts-chart>
    </div>

    <div class="statistics-card">
        <div>
            <h1 class="chart-title">Provenance des participants (Île de France)</h1>
        </div>
        <highcharts-chart id="container" [Highcharts]="idfMap" [constructorType]="chartConstructor"
            [options]="idfChartOptions" style="width: 100%; height: 600px; display: block;">
        </highcharts-chart>
    </div> -->
</div>