.dashboard {
  display: flex;
}

.dashboard-nav {
  display: flex;
  flex-direction: column;
  position: sticky;
  flex-wrap: wrap;
  top: 0;
  width: 17%;
  height: 100vh;
  background-color: var(--bkg);
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 30px 0;
  transition: all 200ms ease-in-out;
  border-right: solid 1px var(--nav-border);
}

.dashboard-logo-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;

  .dashboard-logo {
    width: 70%;
    fill: var(--logo);
    transition: all 200ms ease-in-out;
  }
}

.dashboard-links {
  margin-top: 60px;
  padding-left: 25px;
}

.dashboard-nav-link {
  margin-top: 20px;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  transition: all 200ms ease-in-out;
  color: rgb(162, 162, 162);
  font-size: 0.95rem;
  font-weight: 400;

  &.active {
    border-right: 2px solid var(--primary);
  }
}

.primary-nav-link {
  cursor: pointer;
  display: flex;
  gap: 30px;
  transition: all 200ms ease-in-out;

  &:hover {
    color: var(--primary);
  }

  &.active {
    i {
      color: var(--primary);
      transition: all 200ms ease-in-out;
    }

    p {
      color: var(--primary);
      transition: all 200ms ease-in-out;
    }
  }
}

.secondary-nav-links {
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.secondary-nav-link {
  cursor: pointer;
  display: flex;
  gap: 10px;
  transition: all 200ms ease-in-out;

  i {
    font-size: 0.85rem;
  }

  p {
    font-size: 0.85rem;
  }

  &:hover {
    color: var(--primary);
  }

  &.active {
    i {
      color: var(--primary);
    }

    p {
      color: var(--primary);
    }
  }
}

.dark-mode-switch-ctn {
  margin-top: 20px;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  color: rgb(162, 162, 162);
}

.dashboard-nav-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 30px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  color: #fff;
  border: solid 1px var(--btn-border);
  background-color: var(--btn-dark);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

  &:hover {
    background-color: var(--btn-hover-dark);
  }

  i {
    font-size: 1.2rem;
  }

  p {
    font-weight: 500;
  }
}

// mobile nav
.handheld-dashboard-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  height: 45px;
  width: 80%;
  background-color: var(--bkg);
  border: solid 1.5px var(--nav-border);
  border-radius: 30px;
  padding: 5px 20px;
  z-index: 1000;
  transition: all 0.2s ease-in-out;

  i {
    font-size: 1.1rem;
    color: rgb(162, 162, 162);
    transition: all 0.2s ease-in-out;

    &.list-icon {
      font-size: 1.3rem;
    }
  }

  svg {
    height: 20px;
    width: 20px;
    fill: var(--primary);
    transition: all 0.2s ease-in-out;
  }
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;

  &.active {
    i {
      color: var(--primary);
      transition: all 0.2s ease-in-out;
    }

    svg {
      fill: var(--primary);
      transition: all 0.2s ease-in-out;
    }
  }
}

.sidebar-slider {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--bkg);
  transform: translateX(-100%);
  transition: ease-in-out 300ms transform;
  width: 100%;
  z-index: 999;
}

.sidebar-slider.sidebar-slide-in {
  transform: translateX(0%);
  transition: ease-in-out 400ms transform;
}

.sidebar-close {
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  cursor: pointer;
  padding: 16px;
}

.sidebar-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--primary);
  font-size: 16px;
  padding: 50px;
  padding-bottom: 100px;
  height: 100%;
}

// mobile responsive
@media screen and (max-width: 500px) {
  .dashboard-logo-ctn {
    justify-content: flex-start;
    .dashboard-logo {
      width: 50%;
    }
  }

  .dashboard-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 30px;
    padding-left: 0;
    height: 100%;
    width: 100%;
  }

  .dashboard-nav-link {
    padding: 10px;
    font-size: 1.1rem;
    gap: 20px;
    
    &.active {
      border-right: none;
    }
  }

  .secondary-nav-links {
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .dashboard-links {
    padding-left: 10px;
  }
  
  .dashboard-nav-link {
    font-size: 0.8rem;
  }

  .sign-out-btn-ctn {
    width: 100%;
    padding: 0px 10px;
  }

  .dashboard-nav-btn {
    gap: 15px;
    font-size: 0.7rem;

    i {
      font-size: 1rem;
    }
  }
}