@import "../../../theme";

.dashboard {
    display: flex;
}

.dashboard-nav {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    width: 15%;
    height: 100vh;
    background-color: var(--bkg);
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 30px;
}

.dashboard-logo-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;

    .dashboard-logo {
        width: 80%;
        fill: var(--logo);
    }
}

.dashboard-links {
    margin-top: 60px;
}

.dashboard-nav-link {
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    color: rgb(162, 162, 162);

    &.active {
        border-right: 2px solid var(--primary);
    }
}

.primary-nav-link {
    display: flex;
    gap: 30px;

    &.active {
        i {
            color: var(--primary);
        }

        p {
            color:  var(--primary);
        }
    }
}

.secondary-nav-links {
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &.active {
        i {
            color: var(--primary);
        }

        p {
            color:  var(--primary);
        }
    }
}

.secondary-nav-link {
    display: flex;
    gap: 10px;
    transition: all 200ms ease-in-out;

    i {
        font-size: 0.85rem;
    }

    p {
        font-size: 0.85rem;
    }

    &:hover {
        color: var(--primary);
    }
}

.dark-mode-switch-ctn {
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    color: rgb(162, 162, 162);
}

.dashboard-nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 30px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    color: #fff;
    border: none;
    background-color: var(--btn-dark);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    
    &:hover {
        background-color: var(--btn-hover-dark);
    }

    i {
        font-size: 1.2rem;
    }

    p {
        font-weight: 500;
    }
}

