@import "../../../variants";

.dashboard {
    display: flex;
}

.dashboard-nav {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    width: 15%;
    height: 100vh;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 30px;
}

.dashboard-logo-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;

    .dashboard-logo {
        width: 80%;
    }
}

.dashboard-links {
    margin-top: 60px;
}

.dashboard-nav-link {
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    color: rgb(162, 162, 162);
    
    &.active {
        color: black;
        border-right: 2px solid $primary;

        i {
            color: $primary;
        }

        p {
            color: $primary;
        }
    }

    &:hover {
        color: $primary;
    }

    i {
        font-size: 1.2rem;
    }

    p {
        width: 60%;
        font-weight: 500;
    }
}

.dashboard-nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 30px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    color: #fff;
    border: none;
    background-color: $primary;
    border-radius: 20px;
    
    &:hover {
        background-color: $primary-dark;
    }

    i {
        font-size: 1.2rem;
    }

    p {
        font-weight: 500;
    }
}

