<footer>
    <div class="content">
        <div class="column">
            <div>
                <img class="iut-logo" src="assets/IUT_logo_blanc.svg" alt="">
                <h1 class="column-title">Iut Marne-la-Vallée</h1>
                <div class="column-infos">
                    <p>Antenne de Meaux</p>
                    <p>17 Rue Jablinot</p>
                    <p>77100 Meaux</p>
                    <p>Téléphone: <span><a href="tel:+33 (0)1 64 36 44 15" class="footer-link">01 64 36 44 15</a></span>
                    </p>
                </div>
            </div>

            <div class="socials">
                <a href="https://www.facebook.com/IUTMarneLaVallee" target="_blank" class="social-link">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://twitter.com/IUT_Marne" target="_blank" class="social-link">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="https://www.instagram.com/iutmarne/" target="_blank" class="social-link">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/school/iut-marne-la-vallee/" target="_blank" class="social-link">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://www.youtube.com/@iutmlv6116" target="_blank" class="social-link">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
        </div>
        <div class="column"></div>
        <div class="column">
            <div>
                <h1 class="column-title">Université Gustave Eiffel</h1>
                <div class="column-infos">
                    <p>5 boulevard Descartes</p>
                    <p>Champs-sur-Marne</p>
                    <p>77454 Marne-la-Vallée cedex 2</p>
                    <p>Téléphone:
                        <span>
                            <a href="tel:+33 (0)1 60 95 75 00" class="footer-link">
                                +33 (0)1 60 95 75 00
                            </a>
                        </span>
                    </p>
                </div>
            </div>

            <div class="socials">
                <a href="https://www.facebook.com/UniversiteGustaveEiffel/" target="_blank" class="social-link">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://twitter.com/UGustaveEiffel" target="_blank" class="social-link">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="https://www.instagram.com/universitegustaveeiffel/" target="_blank" class="social-link">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/school/universit%C3%A9-gustave-eiffel/" target="_blank" class="social-link">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://www.youtube.com/channel/UCNMF04xs6lEAeFZ8TO6s2dw" target="_blank" class="social-link">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="sub-content">
        <a href="https://iut.univ-gustave-eiffel.fr/contact-1" target="_blank">Contact</a>
        <a href="https://iut.univ-gustave-eiffel.fr/mentions-legales" target="_blank">Mentions légales</a>
        <a href="https://iut.univ-gustave-eiffel.fr/politique-des-cookies" target="_blank">Politique des cookies</a>
    </div>
</footer>