@import "../../../../variants";

.background {

  &::before {
    z-index: -1;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 0;
    --line: hsla(243, 100%, 50%, 0.185);
    content: "";
    background: linear-gradient(90deg, var(--line) 2px, transparent 1px 10vmin) 0 -5vmin /
        10vmin 10vmin,
      linear-gradient(var(--line) 2px, transparent 1px 10vmin) 0 -5vmin / 10vmin 10vmin;
    -webkit-mask: linear-gradient(-35deg, transparent 55%, white);
    mask: linear-gradient(-35deg, transparent 55%, white);
  }
}

.content-w-gutter {
  display: flex;
  flex-direction: column;
  padding: 100px 80px;
}

.primary {
  padding-top: 0;
  background-color: $primary;
}

.development-section {
  width: 100%;
  display: flex;
  gap: 100px;

  .left {
    width: fit-content;

    h1 {
      font-size: 3.5rem;
      font-weight: 700;
      color: $primary;
      line-height: 1.5;
      // text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    }

    .badges-ctn {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 25px;
      margin-top: 30px;
    }
    
    .badge {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 7px 20px;
      background-color: white;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      cursor: default;
    
      img {
        height: 20px;
        width: 100%
      }
    
      i {
        font-size: 20px;
      }
    
      p {
        font-size: 14px;
      }
    }
  }

  .right {
    width: 50%;

    img {
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
    }
  }
}

.production-section {
  margin-top: 160px;

  h1 {
    font-size: 3rem;
    font-weight: 800;
    color: white;
    text-align: center;
  }

  .badges-ctn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 30px;
  }
  
  .badge {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: default;
  
    img {
      height: 20px;
      width: 100%
    }
  
    i {
      font-size: 20px;
    }
  
    p {
      font-size: 14px;
    }
  }

  .hero-img-ctn {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 80%;
      filter: drop-shadow(5px 5px 5px #222);
    }
      // border-radius: 10px;
      // box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;    }
  }
}

.hero-centered {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3rem;
    font-weight: 700;
    color: $primary;
    text-align: center;
  }

  .badges-ctn {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
  }
  
  .badge {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: default;
  
    img {
      height: 20px;
      width: 20px
    }
  
    i {
      font-size: 20px;
    }
  
    p {
      font-size: 14px;
    }
  }
}

.section-title {
  position: relative;
  text-align: justify;
  font-size: 2.5rem;
  font-weight: 800;
  color: $primary;

  // &::after {
  //   content: "";
  //   background-color: $secondary;
  //   -webkit-mask-image: url(https://www.univ-gustave-eiffel.fr/typo3conf/ext/eiffel/Resources/Public/images/header-bottom.svg);
  //   mask-image: url(https://www.univ-gustave-eiffel.fr/typo3conf/ext/eiffel/Resources/Public/images/header-bottom.svg);
  //   bottom: -20px;
  //   left: 0;
  //   width: 54px;
  //   height: 19px;
  //   position: absolute;
  // }
}

.white {
  color: white;
}

.education-details-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;

  h1 {
    font-size: 3rem;
    font-weight: 700;
    color: white;
    text-align: center;
  }
}

.education-details-grid {
  margin-top: 70px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin-left: auto;
  margin-right: auto;
}

.education-details-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px; //TODO change to fit content
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

  .card-image-ctn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 60%;
    background-color: #f7f7f7;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    &::before {
      z-index: 1;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      --line: hsla(243, 100%, 50%, 0.185);
      content: "";
      background: linear-gradient(90deg, var(--line) 2px, transparent 1px 10vmin) 2.5vmin -5vmin/5vmin 10vmin, linear-gradient(var(--line) 2px, transparent 1px 10vmin) 0 -1vmin/10vmin 5vmin;
      -webkit-mask: linear-gradient(0deg, transparent 20%, white);
      mask: linear-gradient(0deg, transparent 20%, white);
    }
    
    img {
      z-index: 99;
      width: 100%;
      height: 100%;
    }
  }
  .card-content-ctn {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 20px;
    gap: 10px;

    h1 {
      text-align: left;
      font-size: 1.2rem;
      font-weight: 500;
      color: $primary;
    }
  }
}

.video-ctn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 70vh;

  video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}

// pop
.pop-out-section {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}

.pop-out-section-title {
  position: relative;
  font-size: 3rem;
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-weight: 800;

  // &::after {
  //   content: "";
  //   background-color: $secondary;
  //   -webkit-mask-image: url(https://www.univ-gustave-eiffel.fr/typo3conf/ext/eiffel/Resources/Public/images/header-bottom.svg);
  //   mask-image: url(https://www.univ-gustave-eiffel.fr/typo3conf/ext/eiffel/Resources/Public/images/header-bottom.svg);
  //   bottom: -20px;
  //   left: 0;
  //   width: 54px;
  //   height: 19px;
  //   position: absolute;
  // }
}

.pop-out-ctn-background {
  margin-top: 150px;
  position: relative;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: fit-content;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  &::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    --line: hsla(243, 100%, 50%, 0.25);
    content: "";
    background: linear-gradient(90deg, var(--line) 2px, transparent 1px 10vmin) 56px -5vmin /
        10vmin 10vmin,
      linear-gradient(var(--line) 2px, transparent 1px 10vmin) 0 5vmin / 10vmin 10vmin;
    -webkit-mask: linear-gradient(0deg, transparent 20%, white);
    mask: linear-gradient(0deg, transparent 20%, white);
  }
}

.pop-image-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.pop-img {
  width: 60%;
  view-timeline-name: --popper;
  animation: slide-up linear both;
  animation-timeline: --popper;
  animation-range: entry 100% cover 45%;
  object-fit: cover;
}

.pop-image-title {
  opacity: 0;
  font-size: 2.5rem;
  background: linear-gradient(#676497b7, $primary);
  color: transparent;
  background-clip: text;
  view-timeline-name: --popper;
  animation: fade-slide-appear linear both;
  animation-timeline: --popper;
  animation-range: entry 100% cover 25%;
}

.pop-image-desc {
  margin-top: 10px;
  opacity: 0;
  font-size: 1.2rem;
  font-weight: 500;
  background: linear-gradient(#676497b7, $primary);
  color: transparent;
  background-clip: text;
  view-timeline-name: --popper;
  animation: fade-slide-appear linear both;
  animation-timeline: --popper;
  animation-range: entry 100% cover 19%;
}

.pop-image-title.hololens {
  margin-top: 50px;
}

@keyframes slide-up {
  to {
    transform: translateY(-150px);
    filter: brightness(var(--b, 1));
  }
}

@keyframes fade-slide-appear {
  to {
    opacity: 1;
    transform: translateY(-70px);
  }
}
