<div class="background">
    <div class="content-w-gutter">

        <section class="development-section">
            <div class="left">
                <div>
                    <h1>Apprenez à développer pour le web</h1>
                </div>
                <div class="badges-ctn">
                    <div class="badge">
                        <img src="assets/HTML5_logo.svg.png" alt="">
                        <p>HTML</p>
                    </div>
                    <div class="badge">
                        <img src="assets/CSS3_logo.svg.png" alt="">
                        <p>CSS</p>
                    </div>
                    <div class="badge">
                        <img src="assets/js-logo.png" alt="">
                        <p>JavaScript</p>
                    </div>
                    <div class="badge">
                        <img src="assets/php-elephant.svg.png" alt="">
                        <p>PHP</p>
                    </div>
                    <div class="badge">
                        <img src="assets/React-icon.svg.png" alt="">
                        <p>React</p>
                    </div>
                    <div class="badge">
                        <img src="assets/angular-17.png" alt="">
                        <p>Angular</p>
                    </div>
                    <div class="badge">
                        <i class="bi bi-unity"></i>
                        <p>Unity</p>
                    </div>
                    <div class="badge">
                        <i class="bi bi-badge-vr-fill"></i>
                        <p>Réalité virtuelle</p>
                    </div>
                </div>    
            </div>
            <div class="right" *ngIf="!isHandheld">
                <img src="../../../../../assets/codeimg-angular (1).svg" alt="">
            </div>
        </section>
    
        <section class="production-section">
            <div class="hero-img-ctn">
                <img class="tilted-img" src="../../../../../assets/adobe-pp-snippet2.png" alt="" loading="lazy">
            </div>

            <div class="hero-centered">
                <div>
                    <h1>Maîtrisez la suite Adobe</h1>
                </div>
                <div class="badges-ctn">
                    <div class="badge">
                        <img src="../../../../../assets/Adobe_Photoshop_CC_icon.svg.png" alt="">
                        <p>Photoshop</p>
                    </div>
                    <div class="badge">
                        <img src="../../../../../assets/Adobe_Premiere_Pro_CC_icon.svg.png" alt="">
                        <p>Premiere Pro</p>
                    </div>
                    <div class="badge">
                        <img src="../../../../../assets/Adobe_After_Effects_CC_icon.svg.png" alt="">
                        <p>After Effect</p>
                    </div>
                    <div class="badge">
                        <img src="../../../../../assets/Adobe_Illustrator_CC_icon.svg.png" alt="">
                        <p>Illustrator</p>
                    </div>
                    <div class="badge">
                        <img src="../../../../../assets/Adobe_InDesign_CC_icon.svg.png" alt="">
                        <p>InDesign</p>
                    </div>
                </div>
            </div>

            <div class="video-ctn">
                <video src="../../../../../assets/jpo-video.webm" autoplay loop></video>
            </div>
        </section>
    </div>

    <div class="content-w-gutter primary">
        <div>
            <section class="education-details-section">
                <div>
                    <h1>Et plus encore...</h1>
                </div>
                <div class="education-details-grid">

                    <div class="education-details-card">
                        <div class="card-image-ctn">
                            <img src="../../../../../assets/undraw_designer_girl_re_h54c.svg" alt="" loading="lazy">
                        </div>
                        <div class="card-content-ctn">
                            <div>
                                <h1>Graphisme, motion design</h1>
                            </div>
                            <div>
                                <p>Designez des maquettes, des moodboards, des logos, et plus encore...</p>
                            </div>
                        </div>
                    </div>

                    <div class="education-details-card">
                        <div class="card-image-ctn">
                            <img src="../../../.././../assets/undraw_secure_server_re_8wsq.svg" alt="" loading="lazy">
                        </div>
                        <div class="card-content-ctn">
                            <div>
                                <h1>Hébergement</h1>
                            </div>
                            <div>
                                <p>Apprenez à héberger vos sites internet de manière sécurisée afin que le monde entier puisse consulter vos travaux.</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="education-details-card">
                        <div class="card-image-ctn">
                            <img src="../../../../../assets/undraw_growth_analytics_re_pyxf.svg" alt="" loading="lazy">
                        </div>
                        <div class="card-content-ctn">
                            <div>
                                <h1>Référencement</h1>
                            </div>
                            <div>
                                <p>Apprenez à référencer vos sites internet avec le SEO afin de gagner en visibilité et générer efficacement du traffic.</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="education-details-card">
                        <div class="card-image-ctn">
                            <img src="../../../../../assets/undraw_video_files_fu10.svg" alt="" loading="lazy">
                        </div>
                        <div class="card-content-ctn">
                            <div>
                                <h1>Production de contenu multimédia</h1>
                            </div>
                            <div>
                                <p>Découvrez comment produire des contenus multimédias de A à Z. Apprenez à filmer des plans, faire de la prise de son, du montage et de l'étalonnage.</p>
                            </div>
                        </div>
                    </div>

                    <div class="education-details-card">
                        <div class="card-image-ctn">
                            <img src="../../../../../assets/undraw_virtual_reality_re_yg8i.svg" alt="" loading="lazy">
                        </div>
                        <div class="card-content-ctn">
                            <div>
                                <h1>Réalité virtuelle/augmentée</h1>
                            </div>
                            <div>
                                <p>Profitez du matériel disponible à l'IUT tels que l'Oculus Quest 2 et les Hololens de Microsoft pour créer du contenu visualisable à travers des équipements de réalité virtuelle ou augmentée.</p>
                            </div>
                        </div>
                    </div>

                    <div class="education-details-card">
                        <div class="card-image-ctn">
                            <img src="../../../../../assets/undraw_gaming_re_cma2 (1).svg" alt="" loading="lazy">
                        </div>
                        <div class="card-content-ctn">
                            <div>
                                <h1>Développement de jeux vidéo</h1>
                            </div>
                            <div>
                                <p>Découvrez comment produire des contenus multimédias de A à Z. Apprenez à filmer des plans, faire de la prise de son, du montage et de l'étalonnage.</p>
                            </div>
                        </div>
                    </div>

                    <div class="education-details-card">
                        <div class="card-image-ctn">
                            <img src="../../../../../assets/undraw_scrum_board_re_wk7v.svg" alt="" loading="lazy">
                        </div>
                        <div class="card-content-ctn">
                            <div>
                                <h1>Gestion de projet</h1>
                            </div>
                            <div>
                                <p>Apprenez à devenir chef de projet, découvrez la méthode agile SCRUM, faites des plannings et organisez des équipes.</p>
                            </div>
                        </div>
                    </div>

                    <div class="education-details-card">
                        <div class="card-image-ctn">
                            <img src="../../../../../assets/undraw_server_cluster_jwwq.svg" alt="" loading="lazy">
                        </div>
                        <div class="card-content-ctn">
                            <div>
                                <h1>Réseau</h1>
                            </div>
                            <div>
                                <p>Découvrez les clés cryptées, le protocole SSH, les serveurs et les routeurs, et apprenez comment sont organisés les réseaux.</p>
                            </div>
                        </div>
                    </div>
        
                </div>
            </section>
        
            <section class="pop-out-section">
        
                <h1 class="pop-out-section-title">Profitez de l'équipement de l'IUT</h1>
        
                <div class="pop-out-ctn-background">
                    <div class="pop-image-ctn oculus">
                        <img class="pop-img oculus" src="../../../assets/oculus_quest2.png" alt="" loading="lazy">
                        <h1 class="pop-image-title oculus">Oculus Quest 2</h1>
                        <p class="pop-image-desc oculus">Casque de réalité virtuelle</p>
                    </div>
                </div>
            
                <div class="pop-out-ctn-background">
                    <div class="pop-image-ctn hololens">
                        <img class="pop-img hololens" src="../../../assets/hololens2.png" alt="" loading="lazy">
                        <h1 class="pop-image-title hololens">Microsoft Hololens 2</h1>
                        <p class="pop-image-desc hololens">Lunettes de réalité augmentée</p>
                    </div>    
                </div>
        
            </section>
        </div>
    </div>
</div>