<div class="content-w-gutter primary">

    <div>
        <h1 class="section-title white">Le BUT MMI</h1>
    </div>

    <section class="education-details-section">
        <div class="education-details-grid">
            <div class="education-details-card">
                <div class="card-image-ctn">

                </div>
                <div class="card-content-ctn">
                    <div>
                        <h1>Lorem Caca</h1>
                    </div>
                    <div>
                        <p>Lorem Pipi</p>
                    </div>
                </div>
            </div>

            <div class="education-details-card">
                <div class="card-image-ctn">

                </div>
                <div class="card-content-ctn">
                    <div>
                        <h1>Lorem Caca</h1>
                    </div>
                    <div>
                        <p>Lorem Pipi</p>
                    </div>
                </div>
            </div>

            <div class="education-details-card">
                <div class="card-image-ctn">

                </div>
                <div class="card-content-ctn">
                    <div>
                        <h1>Lorem Caca</h1>
                    </div>
                    <div>
                        <p>Lorem Pipi</p>
                    </div>
                </div>
            </div>

            <div class="education-details-card">
                <div class="card-image-ctn">

                </div>
                <div class="card-content-ctn">
                    <div>
                        <h1>Lorem Caca</h1>
                    </div>
                    <div>
                        <p>Lorem Pipi</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="pop-out-section">

        <h1 class="pop-out-section-title">Matériel mis à disposition</h1>

        <div class="pop-out-ctn-background">
            <div class="pop-image-ctn">
                <img class="pop-img oculus" src="../../../assets/oculus_quest2.png" alt="">
                <h1 class="pop-image-title">Oculus Quest 2</h1>
                <p class="pop-image-desc">Casque de réalité virtuelle</p>
            </div>
        </div>
    
        <div class="pop-out-ctn-background">
            <div class="pop-image-ctn">
                <img class="pop-img hololens" src="../../../assets/hololens2.png" alt="">
                <h1 class="pop-image-title hololens">Microsoft Hololens 2</h1>
                <p class="pop-image-desc">Lunettes de réalité augmentée</p>
            </div>    
        </div>

    </section>

</div>