<div class="content-w-gutter">
    <div class="hero-section">
        <div class="content">
            <div>
                <p class="hero-phrase">Découvrez <br>
                    l'université
                </p>
                <button class="hero-cta-btn">
                    Démarrer la visite virtuelle
                </button>
            </div>
        </div>
        <div class="content">
            <div class="hero-img-ctn">
                <img class="hero-img" src="../../../assets/undraw_product_tour_re_8bai.svg" alt="">
            </div>
        </div>
    </div>
</div>