<div class="background">
    <div class="form-ctn">
        <form class="form">
            <div class="form-header">
                <img class="form-header-img" src="assets/logo-min.png" alt="">
                <h1 class="form-header-title">Accès au tableau de bord</h1>
            </div>

            <div class="sign-in-inputs-ctn">
                <div class="form-input-ctn">
                    <label class="form-label" for="">Identifiant</label>
                    <input class="form-input" type="text">
                </div>
                <div class="form-input-ctn">
                    <label class="form-label" for="">Mot de passe</label>
                    <input class="form-input" type="text">
                </div>
            </div>

            <div class="form-btn-ctn">
                <button class="form-btn">Se connecter</button>
            </div>
        </form>
    </div>
</div>