<div class="form-ctn">
    <form [formGroup]="modifyDiplomaForm">
        <ng-container *ngIf="!isHandheld">
            <div class="inputs-ctn flex">
                <div class="input-ctn">
                    <input type="text" formControlName="diplomaName" placeholder="Nom du diplôme*">
                </div>
                <div class="input-ctn">
                    <select class="input" formControlName="diplomaCategoryId">
                        <option value="" selected disabled hidden>Catégorie*</option>
                        <option *ngFor="let category of diplomaCategories" [value]="category.id">
                            {{category.name}}
                        </option>
                    </select>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="isHandheld">
            <div class="input-ctn full">
                <input type="text" formControlName="diplomaName" placeholder="Nom du diplôme*">
            </div>

            <div class="input-ctn full">
                <select class="input" formControlName="diplomaCategoryId">
                    <option value="" selected disabled hidden>Catégorie*</option>
                    <option *ngFor="let category of diplomaCategories" [value]="category.id">
                        {{category.name}}
                    </option>
                </select>
            </div>
        </ng-container>
        
        <div class="form-btns-ctn">
            <button *ngIf="!isSubmitting" class="form-btn" type="button" [disabled]="!modifyDiplomaForm.valid || !modifyDiplomaForm.dirty" (click)="onSubmit()">Modifier</button>
            <button *ngIf="isSubmitting" class="form-btn w-loader" type="button" disabled>
                Modifier
                <span class="loader"></span>
            </button>
        </div>
    </form>
</div>
