body {
  // logo
  --logo: #2f2a86;

  // text
  --font-color: rgb(14, 14, 14);
  --white: #fff;

  // borders
  --border: #e7e7e7;

  // forms
  --form: #fff;

  // inputs
  --input-bkg: #efefef;
  --input-border: #c3c3c3;
  --input-txt: #000;
  --input-placeholder: #a7a7a7;
  --input-disabled: #bbbbbb;
  --input-border-disabled: #898989;

  // colors
  --primary: #2f2a86;
  --primary-hover: #211d5d;
  --primary-light: #3f3aa6;
  --primary-disabled: #2f2a86a0;
  --secondary: #d2213c;
  --secondary-hover: #a41f32;
  --danger: #e23232;
  --danger-hover: rgb(212, 0, 0);
  --warn: #ffa500;
  --success: #24a258;

  // background
  --bkg: #fff;
  --nav-border: #d5d5d5;

  // lines
  --line: hsla(243, 100%, 50%, 0.35);

  // cards
  --card-bkg: #fff;
  --card-border: transparent;
  --card-secondary-bkg: #0004ff61;

  // charts
  --chart-subtitle: #7e7e7e;

  // lists
  --list-bkg: #fff;
  --list-header: #fff;
  --list-item-bkg: #fff;
  --list-border: #e7e7e7;
  --list-badge: #2f2a86;
  --list-badge-border: #fff;

  // dash pages background
  --dash-bkg: rgb(240, 238, 251);

  // buttons
  --btn: #2f2a86;
  --btn-border: #2f2a86;
  --btn-hover: #211d5d;
  --btn-disabled: #2f2a86a0;
  --btn-disabled-border: #6e6bac;
  --btn-dark: #2f2a86;
  --btn-hover-dark: #211d5d;

  // switch
  --switch-toggle: rgb(241, 241, 241);
  --switch-toggle-btn: white;
  --switch-toggle-toggled: #2f2a86;
  --switch-toggle-border: #c3c3c3;

  // badges
  --badges-ctn: #fff;
  --badge-border: #2f2a86;
  --badge-info: #2f2a86;
  --badge-increase: #14da6639;
  --bagde-increase-txt: #2ecc71;

  // pagination
  --pagination-item: #fff;
  --pagination-item-border: #2f2a86;
  --pagination-item-hover: #2f2a86;
  --pagination-item-active: #2f2a86;
  --pagination-item-active-hover: #211d5d;
  --pagination-item-txt: #2f2a86;
  --pagination-item-txt-active: #fff;

  // dropdown
  --dropdown-bkg: #fff;
  --dropdown-item-hover: #f8f8f8;
  --dropdown-border: #bfbfbf;

  // modals
  --modal-bkg: #fff;
  --modal-border: #fff;
  --modal-close-btn: #2f2a86;
  --modal-header: #fff;
  --modal-confirm-border: #e23232;

  // drawers
  --drawer-bkg: #fff;
  --drawer-border: #fff;
  --drawer-close-btn: #2f2a86;
  --drawer-close-btn-border: #fff;
  --drawer-header: #fff;
  --confirmation-sentence: #707070;
  --confirm-border: #fff;

  // gesture indicator
  --gesture-indicator: #e6e6e6;

  // faq
  --card-size: clamp(350px, 40vw, 450px);
  --x: calc(50vw * 1);
  --y: calc((50vh - (var(--card-size) * 0.25)) * 1);
  --spotlight: 50vmin;
  --backdrop: black;
  --radius: 14;
  --border: 3;
  --backup-border: hsl(0 0% 10% / 0.2);
  --size: 200;
  --bg-spot-opacity: 0.16;
  --border-light-opacity: 1;
  --border-spot-opacity: 0.75;

  // toasts
  --toast-bkg: #fff;
  --toast-txt: #000;
  --toast-success: #24a258;
  --toast-error: #ec0000;

  // list switch btn
  --list-switch-bkg: rgb(241, 241, 241);
  --list-switch-toggled: #2f2a86;
  --list-switch-text-toggled: #fff;
  --list-switch-text-untoggled: rgb(145, 145, 145);
  --list-switch-border: #c3c3c3;

  // settings
  --setting-badge: #2f2a86;
  --setting-badge-border: transparent;
  --theme-border: #ffffff;
  --theme-border-selected: #3f3aa6;
  --separator: #eaeaea;
}

body.dark-theme {
  // logo
  --logo: #fff;

  // text
  --font-color: #fff;
  --white: #fff;

  // borders
  --border: red;

  // forms
  --form: #1d1d1d;

  //inputs
  --input-bkg: #101010;
  --input-txt: #fff;
  --input-placeholder: #8b8b8b;
  --input-disabled: #494949;
  --input-border: #3f3f3f;

  // colors
  --primary: rgb(255 255 255);
  --primary-hover: #211d5d;
  --primary-light: #3f3aa6;
  --primary-disabled: #2f2a86a0;
  --secondary: #d2213c;
  --secondary-hover: #a41f32;
  --danger: #e23232;
  --danger-hover: rgb(212, 0, 0);
  --warn: #ffa500;
  --success: #24a258;

  // background
  --bkg: rgb(31, 31, 33);
  --nav-border: #3f3f3f;

  // lines
  --line: hsla(0, 0%, 100%, 0.5);

  // cards
  --card-bkg: rgb(31, 31, 33);
  --card-border: #3f3f3f;
  --card-secondary-bkg: rgb(31, 31, 33);

  // charts
  --chart-subtitle: #969696;

  // lists
  --list-bkg: rgb(31, 31, 33);
  --list-border: #3f3f3f;
  --list-header: rgb(31, 31, 33);
  --list-item-bkg: rgb(31, 31, 33);
  --list-badge: #101010;
  --list-badge-border: #3f3f3f;

  // dash pages background
  --dash-bkg: rgb(22, 22, 24);

  // buttons
  --btn: #393939;
  --btn-dark: #101010;
  --btn-hover: #4b4b4b;
  --btn-hover-dark: #000000;
  --btn-disabled: #3a3a3a;
  --btn-disabled-border: #3a3a3a;
  --btn-border: #3f3f3f;

  // switch
  --switch-toggle: #2a2a2a;
  --switch-toggle-btn: #fff;
  --switch-toggle-toggled: #0b0b0b;
  --switch-toggle-border: #3f3f3f;

  // badges
  --badges-ctn: #101010;
  --badge-border: #3f3f3f;
  --badge-info: #1d1d1d;
  --badge-increase: #14da6639;
  --bagde-increase-txt: #2ecc71;

  // pagination
  --pagination-item: rgb(31, 31, 33);
  --pagination-item-hover: #101010;
  --pagination-item-border: #3f3f3f;
  --pagination-item-active: #101010;
  --pagination-item-active-hover: #101010;
  --pagination-item-txt: #fff;
  --pagination-item-txt-active: #fff;

  // dropdown
  --dropdown-bkg: #1d1d1d;
  --dropdown-item-hover: #393939;
  --dropdown-border: #090909;

  // modals
  --modal-bkg: rgb(31, 31, 33);
  --modal-border: #3f3f3f;
  --modal-close-btn: #fff;
  --modal-header: #393939;
  --modal-confirm-border: rgb(31, 31, 33);

  // drawers
  --drawer-bkg: rgb(31, 31, 33);
  --drawer-border: #3f3f3f;
  --drawer-close-btn: #fff;
  --drawer-close-btn-border: #3f3f3f;
  --drawer-header: #393939;
  --confirmation-sentence: #9a9a9a;
  --confirm-border: rgb(31, 31, 33);

  // gesture indicator
  --gesture-indicator: #545454;

  // toasts
  --toast-bkg: #1d1d1d;
  --toast-txt: #fff;
  --toast-success: #24a258;
  --toast-error: #ec0000;

  // list switch btn
  --list-switch-bkg: #1d1d1d;
  --list-switch-border: #3f3f3f;
  --list-switch-toggled: #0b0b0b;
  --list-switch-text-toggled: #fff;
  --list-switch-text-untoggled: rgb(145, 145, 145);

  // settings
  --setting-badge: #101010;
  --setting-badge-border: #3f3f3f;
  --theme-border: #3f3f3f;
  --theme-border-selected: #8984ed;
  --separator: #1d1d1d;
}
