<div class="form-ctn">
    <form [formGroup]="modifyDiplomaCategoryForm">
        <div class="inputs-ctn flex">
            <div class="input-ctn full">
                <label for="">Nom de la catégorie*</label>
                <input type="text" formControlName="diplomaCategoryName" placeholder="Nom de la catégorie">
            </div>
        </div>

        <small class="form-help">*Champs obligatoires</small>

        <div class="form-btns-ctn">
            <button *ngIf="!isSubmitting" class="form-btn" type="button" [disabled]="!modifyDiplomaCategoryForm.valid || !modifyDiplomaCategoryForm.dirty"
                (click)="onSubmit()">Modifier</button>
            <button *ngIf="isSubmitting" class="form-btn w-loader" type="button" disabled>
                Modifier
                <span class="loader"></span>
            </button>
        </div>
    </form>
</div>