<div class="wrapper">
    <div class="card">
        <div class="card-icon">
            <i class="bi bi-building-fill"></i>
        </div>
        <h3>Visite du bâtiment et installations</h3>
        <p>Prenez part à une visite en petit groupe afin de découvrir l'IUT. (Salles de cours, amphithéâtres, salles informatiques, réalité virutelle, etc...)</p>
    </div>
    <div class="card">
        <div class="card-icon">
            <i class="bi bi-backpack-fill"></i>        
        </div>
        <h3>Rencontre avec des élèves actuels</h3>
        <p>Échangez avec des élèves étudiant actuellement à l'IUT.</p>
    </div>
    <div class="card">
        <div class="card-icon">
            <i class="bi bi-people-fill"></i>       
        </div>
        <h3>Rencontre avec les équipes enseignantes</h3>
        <p>Échangez avec les responsables de formation et les enseignants afin d'en apprendre plus.</p>
    </div>
    <div class="card">
        <div class="card-icon">
            <i class="bi bi-file-earmark-fill"></i>      
        </div>
        <h3>Renseignements sur les formations</h3>
        <p>Obtenez l'ensemble des informations nécesaires sur la/les formation(s) qui vous intérresse(nt).</p>
    </div>
    <div class="card">
        <div class="card-icon">
            <i class="bi bi-mic-fill"></i>     
        </div>
        <h3>Conférences</h3>
        <p>Participez à divers conférences portant chacune sur une formation spécifique avec l'équipe enseignante correspondante.<span class="card-external-link"><a href="assets/Programme_JPO.pdf" target="_blank">Voir les conférences programmées</a></span></p>
    </div>
    <div class="card">
        <div class="card-icon">
            <i class="bi bi-boombox-fill"></i>    
        </div>
        <h3>Stands</h3>
        <p>De 9h30 à 17h00 avec les reponsables de formation, les équipes enseignantes, les étudiants actuels, et d'anciens diplômés.</p>
    </div>
</div>