.manage-list-ctn {
    display: flex;
    height: fit-content;
    flex-direction: column;
    gap: 10px;
    padding: 15px 15px 15px 15px;
    border: solid 1px var(--list-border);
    border-radius: 10px;
    background-color: var(--list-bkg);
    transition: all 200ms ease-in-out;
}

.data-table {
    position: relative;
    border-spacing: 10px;
    height: fit-content;
}

.list-header {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-radius: 5px;
    background-color: var(--list-header);
    transition: all 200ms ease-in-out;
}

.search-input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    border: solid 1px var(--input-border);
    background-color: var(--input-bkg);
    color: var(--input-txt);
    transition: all 200ms ease-in-out;

    &:focus {
        outline: none;
    }

    &::placeholder {
        font-size: 0.9rem;
        font-weight: 400;
        color: var(--input-placeholder);
    }
}

.header-btn {
    height: 100%;
    position: relative;
    border: solid 1px var(--btn-border);
    border-radius: 5px;
    background-color: var(--btn-dark);
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 0px 12px;
    z-index: 2;

    i {
        font-size: 1rem;
        z-index: 1;
    }

    &:hover {
        background-color: var(--btn-hover-dark);
    }

}

.data-list-ctn {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 5px;
    border-radius: 10px;
    background-color: var(--list-bkg);
}

.list-filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--list-header);
}

.table-header {
    color: var(--primary);
}

.header-badge {
    position: relative;
    gap: 5px;
    border: solid 1px var(--list-badge-border);
    border-radius: 30px;
    background-color: var(--list-badge);
    color: white;
    font-size: 0.8rem;
    padding: 4px 0px;
    user-select: none;
    transition: all 200ms ease-in-out;
}

.filter-btn {
    margin-left: 10px;
    cursor: pointer;
}

.filter {
    cursor: pointer;
}

.no-data-ctn {
    position: relative;
    height: 100px;
}

.no-data {
    position: absolute;
    width: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary);
}

.data-row {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--list-item-bkg);
    color: var(--primary);
    cursor: default;
    transition: all 200ms ease-in-out;
}

.data {
    text-align: center;
}

.action-buttons-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.action-btn {
    height: 100%;
    width: fit-content;
    padding: 10px 13px;
    border: solid 1px var(--btn-border);
    border-radius: 5px;
    background-color: var(--btn-dark);
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    i {
        font-size: 1rem;
    }

    &:hover {
        background-color: var(--btn-hover-dark);
    }
}

.pagination-ctn {
    width: 100%;
}

.dropdown-menu {
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    z-index: 1000;
    display: none;
    width: max-content;
    min-width: 100%;
    max-width: max-content;
    padding: 5px 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: var(--dropdown-bkg);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: solid 1px var(--dropdown-border);
    cursor: default;

    &.filter {
        top: 25px;
    }
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 5px 10px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    text-align: inherit;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: var(--primary);

    &:hover {
        background-color: var(--dropdown-item-hover);
    }
}

.show {
    display: flex;
}

// small mobile responsive design
@media (max-width: 320px) {
    .action-btn {
        padding: 6px 8px;
    }

    .list-header {
        height: 35px;
    }

    .search-input {
        height: 35px;
    }

    .header-btn {
        height: 35px;
        padding: 0px 10px;

        i {
            font-size: 0.8rem;
        }
    }
}

// mobile responsive design
@media (min-width: 320.1px) and (max-width: 768px) {
    .action-btn {
        padding: 8px 10px;
    }
}