<ng-container *ngIf="listType === 'Attendees'">
    <div class="manage-list-ctn">
        <div class="list-header">
            <button class="header-btn" (click)="openAddModal()">
                <i class="bi bi-database-fill-add"></i>
            </button>
            <button class="header-btn" (click)="toggleDropdown(headerBtnDropdown)">
                <i class="bi bi-funnel-fill"></i>
                <div #headerBtnDropdown class="dropdown-menu">
                    <div class="dropdown-item" (click)="onOrderByChange('asc')">A-Z
                        <i class="bi bi-sort-alpha-down"></i>
                    </div>
                    <div class="dropdown-item" (click)="onOrderByChange('desc')">Z-A
                        <i class="bi bi-sort-alpha-down-alt"></i>
                    </div>
                </div>
            </button>
            <input class="search-input" type="text" placeholder="Rechercher un participant" [(ngModel)]="searchString"
                (ngModelChange)="updateSearchString(searchString)">
        </div>
        <table class="data-table">
            <thead class="table-header">
                <tr>
                    <th class="header-badge">Prénom</th>
                    <th class="header-badge">Nom</th>
                    <th class="header-badge">Email</th>
                    <th class="header-badge filter" (click)="toggleDropdown(participationDropdownList)">
                        <div class="header-badge-inner">
                            Participation
                            <i class="bi bi bi-filter filter-btn"></i>
                        </div>
                        <div #participationDropdownList class="dropdown-menu filter">
                            <div class="dropdown-item" (click)="onFilterChange('all')">Tous</div>
                            <div class="dropdown-item" (click)="onFilterChange('irl')">Présentielle</div>
                            <div class="dropdown-item" (click)="onFilterChange('dist')">Distancielle</div>
                        </div>
                    </th>
                    <th class="header-badge">Actions</th>
                </tr>
            </thead>
            <ng-container *ngIf="originalData">
                <tbody class="table-body">
                    <tr class="data-row" *ngFor="let attendee of (data | search: searchString) | slice
                    : (pagination.currentPage - 1) * pagination.pageSize
                    : pagination.currentPage * pagination.pageSize">
                        <td class="data">{{attendee.firstName}}</td>
                        <td class="data">{{attendee.lastName}}</td>
                        <td class="data">{{attendee.email}}</td>
                        <td class="data" *ngIf="attendee.isIrlAttendee">Présentielle</td>
                        <td class="data" *ngIf="!attendee.isIrlAttendee">Distancielle</td>
                        <td class="action-buttons-ctn">
                            <button class="action-btn" (click)="openModifyModal(attendee)">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                            <button class="action-btn" (click)="deleteItem(attendee.id)">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </ng-container>
        </table>
        <div class="pagination-ctn">
            <app-pagination #pagination [collectionSize]="(data | search: searchString).length"
                [pageSize]="10"></app-pagination>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="listType === 'Diplomas'">
    <div class="manage-list-ctn">
        <div class="list-header">
            <button #dropdownBtn1 class="header-btn" (click)="toggleDropdown(dropdownMenu1)">
                <div #dropdownMenu1 class="dropdown-menu left">
                    <div class="dropdown-item" (click)="openAddModal('diploma')">
                        <p>Ajouter un diplôme</p>
                        <i class="bi bi-file-text"></i>
                    </div>
                    <div class="dropdown-item" (click)="openAddModal('category')">
                        <p>Ajouter une catégorie</p>
                        <i class="bi bi-files"></i>
                    </div>
                </div>
                <i #dropdownIcon1 class="bi bi-database-fill-add"></i>
            </button>
            <button class="header-btn" (click)="toggleDropdown(headerBtnDropdown2)">
                <i class="bi bi-funnel-fill"></i>
                <div #headerBtnDropdown2 class="dropdown-menu">
                    <div class="dropdown-item" (click)="onOrderByChange('asc')">
                        <p>A-Z</p>
                        <i class="bi bi-sort-alpha-down"></i>
                    </div>
                    <div class="dropdown-item" (click)="onOrderByChange('desc')">
                        <p>Z-A</p>
                        <i class="bi bi-sort-alpha-down-alt"></i>
                    </div>
                </div>
            </button>
            <input class="search-input" type="text" placeholder="Rechercher un diplôme" [(ngModel)]="searchString"
                (ngModelChange)="updateSearchString(searchString)">
        </div>
        <table class="data-table">
            <thead class="table-header">
                <tr>
                    <th class="header-badge">Diplôme</th>
                    <th class="header-badge">Catégorie</th>
                    <th class="header-badge">Actions</th>
                </tr>
            </thead>
            <ng-container *ngIf="originalData">
                <tbody class="table-body">
                    <tr class="data-row" *ngFor="let diploma of (data | search: searchString) | slice
                    : (pagination.currentPage - 1) * pagination.pageSize
                    : pagination.currentPage * pagination.pageSize">
                        <td class="data">{{diploma.name}}</td>
                        <td class="data">{{diploma.category.name}}</td>
                        <td class="action-buttons-ctn">
                            <button class="action-btn" (click)="openModifyModal(diploma)">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                            <button class="action-btn" (click)="deleteItem(diploma.id)">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </ng-container>
        </table>
        <div class="pagination-ctn">
            <app-pagination #pagination [collectionSize]="(data | search: searchString).length"
                [pageSize]="10"></app-pagination>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="listType === 'DiplomaCategories'">
    <div class="manage-list-ctn">
        <div class="list-header">
            <button #dropdownBtn1 class="header-btn" (click)="toggleDropdown(dropdownMenu1)">
                <div #dropdownMenu1 class="dropdown-menu left">
                    <div class="dropdown-item" (click)="openAddModal('diploma')">
                        <p>Ajouter un diplôme</p>
                        <i class="bi bi-file-text"></i>
                    </div>
                    <div class="dropdown-item" (click)="openAddModal('category')">
                        <p>Ajouter une catégorie</p>
                        <i class="bi bi-files"></i>
                    </div>
                </div>
                <i #dropdownIcon1 class="bi bi-database-fill-add"></i>
            </button>
            <button class="header-btn" (click)="toggleDropdown(headerBtnDropdown2)">
                <i class="bi bi-funnel-fill"></i>
                <div #headerBtnDropdown2 class="dropdown-menu">
                    <div class="dropdown-item" (click)="onOrderByChange('asc')">
                        <p>A-Z</p>
                        <i class="bi bi-sort-alpha-down"></i>
                    </div>
                    <div class="dropdown-item" (click)="onOrderByChange('desc')">
                        <p>Z-A</p>
                        <i class="bi bi-sort-alpha-down-alt"></i>
                    </div>
                </div>
            </button>
            <input class="search-input" type="text" placeholder="Rechercher une catégorie" [(ngModel)]="searchString"
                (ngModelChange)="updateSearchString(searchString)">
        </div>
        <table class="data-table">
            <thead class="table-header">
                <tr>
                    <th class="header-badge">Catégorie</th>
                    <th class="header-badge">Nombre de diplômes</th>
                    <th class="header-badge">Actions</th>
                </tr>
            </thead>
            <ng-container *ngIf="originalData">
                <tbody class="table-body">
                    <tr class="data-row" *ngFor="let diplomaCategory of (data | search: searchString) | slice
                    : (pagination.currentPage - 1) * pagination.pageSize
                    : pagination.currentPage * pagination.pageSize">
                        <td class="data">{{diplomaCategory.name}}</td>

                        <td *ngIf="diplomaCategory.diplomas !== null" class="data">{{diplomaCategory.diplomas.length}}</td>
                        <td *ngIf="diplomaCategory.diplomas === null" class="data">Catégorie vide</td>

                        <td class="action-buttons-ctn">
                            <button class="action-btn">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                            <button class="action-btn" (click)="deleteItem(diplomaCategory.id)">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </ng-container>
        </table>
        <div class="pagination-ctn">
            <app-pagination #pagination [collectionSize]="(data | search: searchString).length"
                [pageSize]="10"></app-pagination>
        </div>
    </div>
</ng-container>