<div class="section-details">
    <h1 class="section-title">{{title}}</h1>
    <div class="dark-mode-switch-ctn">
        <label>
            <input #darkModeSwitch type="checkbox" class="toggle-checkbox" [(ngModel)]="isDarkMode"
                (click)="onToggleDarkMode(darkModeSwitch)">
            <div class="toggle-ctn">
                <div class="switch-btn"></div>
                <i class="bi bi-sun sun-icon"></i>
                <i class="bi bi-moon-stars-fill moon-icon"></i>
            </div>
        </label>
    </div>
</div>