<div class="content-w-gutter">

    <div class="hero-section">
        <div class="content">
            <div>
                <p class="hero-phrase">Découvrez <br>
                    l'IUT
                </p>
                <button class="hero-cta-btn">
                    Démarrer la visite virtuelle
                </button>
            </div>
        </div>
        <div class="content">
            <div class="hero-img-ctn">
                <img class="hero-img" src="../../../assets/undraw_product_tour_re_8bai.svg" alt="">
            </div>
        </div>
    </div>

</div>

<div class="jpo-section">
    <div class="content-wo-gutter">
        <div class="section-background">
            <div class="content-section">

                <div class="card-section-title-ctn">
                    <h1 class="card-section-title">
                        La JPO à l'université Gustave Eiffel Marne-la-Vallée
                    </h1>
                </div>

                <div class="card-section-subtitle-ctn">
                    <h2 class="card-section-subtitle">
                        Prenez part à la visite virtuelle de l'iut de Meaux, et découvrez l'établissement.
                    </h2>
                </div>

                <div>
                    <p>La visite virtuelle vous permet de visiter librement et de manière détaillée l'établissement.</p>
                </div>

            </div>

        </div>
    </div>

    <div class="content-w-gutter primary">

        <div>
            <h1 class="section-title white">Présentation</h1>
        </div>
    
    </div>

</div>
