<div class="content">
    <div class="section">
        <h2 class="sub-section-title">Gestion</h2>

        <div class="section-details">
            <label class="list-toggle">
                <input #listTypeSwitch class="toggle-checkbox" type="checkbox" (click)="onListTypeChange(listTypeSwitch)" [ngModel]="isSwitchToggled">
                <div class="toggle-ctn">
                    <div class="switch-btn"></div>
                    <div class="toggle-values-ctn">
                        <div class="toggle-value">
                            <p>Diplômes</p>
                        </div>
                        <div class="toggle-value2">
                            <p>Catégories</p>
                        </div>
                    </div>
                </div>
            </label>

            <div>
                <div class="data-badge" *ngIf="diplomasList && listType === 'Diplomas'">{{diplomasList.length}} diplômes</div>
                <div class="data-badge" *ngIf="diplomasList && listType === 'DiplomaCategories'">{{diplomasList.length}} catégories</div>
            </div>
        </div>

        <app-manage-list *ngIf="diplomasList && listType === 'Diplomas'" 
            [isLoading]="isDiplomasLoading" [originalData]="diplomasList" [listType]="listType">
        </app-manage-list>

        <app-manage-list *ngIf="diplomaCategoriesList && listType === 'DiplomaCategories'" 
            [isLoading]="isDiplomaCategoriesLoading" [originalData]="diplomaCategoriesList" [listType]="listType">
        </app-manage-list>
    </div>
</div>