.content {
  display: flex;
  flex-direction: column;
}

.section-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(117, 117, 117);
}

.sub-section-title {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--primary);
}

.data-badge {
    font-size: 0.7rem;
    color: var(--white);
    padding: 5px 15px;
    background-color: var(--badge-info);
    border: solid 1px var(--badge-border);
    border-radius: 30px;
    cursor: default;
    user-select: none;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list-toggle {
  width: fit-content;
}

.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-ctn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 8px 2px 8px;
  height: 2rem;
  width: fit-content;
  border-radius: 1rem;
  background-color: var(--list-switch-bkg);
  border: 1px solid var(--list-switch-border);
  cursor: pointer;
}

.switch-btn {
  position: absolute;
  left: 3px;
  height: 1.5rem;
  width: 45%;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: var(--list-switch-toggled);
  z-index: 1;
}

.toggle-values-ctn {
  display: flex;
  gap: 10px;
  user-select: none;
}

.toggle-value {
  padding: 0px 5px;
  font-size: 0.7rem;
  color: white;
  z-index: 2;
  transition: color 0.3s ease-in-out;
}

.toggle-value2 {
  padding: 0px 5px;
  font-size: 0.7rem;
  color: rgb(145, 145, 145);
  z-index: 2;
  transition: color 0.3s ease-in-out;
}

.toggle-checkbox:checked ~ .toggle-ctn .switch-btn {
  transform: translateX(71px);
  width: 50%;
}

.toggle-checkbox:checked ~ .toggle-ctn .toggle-value {
  color: rgb(145, 145, 145);
}

.toggle-checkbox:checked ~ .toggle-ctn .toggle-value2 {
  color: white;
}