@import "../../../../colors";

.content {
  width: 85vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 238, 251);
  padding: 50px 50px;
  gap: 40px;
}

.section-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: $primary;
}

.section-detail {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(117, 117, 117);
}

.section-subtitle {
  font-size: 1.1rem;
  font-weight: 600;
  color: $primary;
}

.settings-section-ctn {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.settings-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
