<div class="content">
    <div class="section-details">
        <h1 class="section-title">Paramètres</h1>
    </div>
    <div class="settings-section-ctn">
        <h2 class="section-subtitle">Préférences</h2>
        <div class="settings-section">
            <div class="setting-ctn" [formGroup]="preferencesForm">
                <p-inputSwitch formControlName="showPercentagesOnCharts"></p-inputSwitch>
                <label class="setting-label" for="showPercentagesOnCharts">Afficher les pourcentages pour les graphiques
                    compatibles</label>
            </div>
        </div>
    </div>
    <div>
        <button *ngIf="!isSaving" class="form-btn" (click)="onSave()">Sauvegarder</button>
        <button *ngIf="isSaving" class="form-btn-w-loader" disabled>
            Sauvegarder
            <span class="loader"></span>
        </button>
    </div>
</div>