.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--dash-bkg);
  padding: 50px 50px;
  gap: 20px;
  transition: all 200ms ease-in-out;
}

.setting-separator {
  width: 100%;
  height: 1.5px;
  background-color: var(--separator);
}

.section-head-ctn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--primary);
  transition: all 200ms ease-in-out;
}

.section-detail {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(117, 117, 117);
  transition: all 200ms ease-in-out;
}

.section-subtitle {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--primary);
  transition: all 200ms ease-in-out;
}

.settings-section-ctn {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.settings-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--card-bkg);
  border: solid 1px var(--card-border);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  
  transition: all 200ms ease-in-out;

}

.setting-ctn {
  display: flex;
  align-items: center;
  gap: 20px;
}

.theme-setting-ctn {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.graphs-settings {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.themes-ctn {
  display: flex;
  align-items: center;
  gap: 20px;
}

.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-ctn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 8px 2px 8px;
  height: 1.8rem;
  width: 4rem;
  border-radius: 1rem;
  background-color: var(--switch-toggle);
  border: 1px solid var(--switch-toggle-border);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.switch-btn {
  position: absolute;
  left: 3px;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: var(--switch-toggle-btn);
}

.toggle-checkbox:checked ~ .toggle-ctn {
  background-color: var(--switch-toggle-toggled);
  border: 1px solid transparent;
}

.toggle-checkbox:checked ~ .toggle-ctn .switch-btn {
  transform: translateX(35px);
}

.setting-label {
  font-size: 1rem;
  font-weight: 400;
  color: var(--primary);
  transition: all 200ms ease-in-out;
}

.form-btn {
  width: fit-content;
  border: solid 1px var(--btn-border);
  padding: 8px 25px;
  border-radius: 30px;
  background-color: var(--btn-dark);
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

  &:hover {
    background-color: var(--btn-hover-dark);
  }
}

.form-btn-w-loader {
  display: flex;
  align-items: center;
  gap: 15px;
  width: fit-content;
  border: none;
  padding: 8px 25px;
  border-radius: 30px;
  background-color: var(--btn-dark);
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

  &:disabled {
    background-color: var(--btn-disabled);
  }
}

.theme-ctn {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 7px;
}

.theme-image-ctn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  height: fit-content;
  border-radius: 7px;
  border: solid 4px var(--theme-border);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 15px;
  max-height: 150px;
  max-width: 250px;
  transition: all 200ms ease-in-out;
  cursor: pointer;

  &.selected
  .check-ctn {
    display: flex;
  }

  &.selected
  i {
    color: #fff;
  }

  .check-ctn {
    display: none;
    position: absolute;
    top: -10px;
    right: -10px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: var(--theme-border-selected);
    align-items: center;
    justify-content: center;
    transition: all 200ms ease-in-out;
  }

  &.selected {
    border: solid 4px var(--theme-border-selected);
  }
}

.theme-image {
  height: 100%;
  border-radius: 2.5px;
}

.theme-name-ctn {
  display: block;
}

.theme-name {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--primary);
  transition: all 200ms ease-in-out;
}

.sub-section-ctn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sub-section-badge {
  width: fit-content;
  border: solid 1px var(--setting-badge-border);
  border-radius: 30px;
  display: flex;
  background-color: var(--setting-badge);
  padding: 5px 15px;
  transition: all 200ms ease-in-out;
}

.sub-section-title {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--white);
  transition: all 200ms ease-in-out;
}

.sub-section-desc {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--primary);
  transition: all 200ms ease-in-out;
}

// mobile responsive
@media screen and (max-width: 500px) {
  .content {
    width: 100vw;
    padding: 40px 30px;
    padding-bottom: 100px;
  }

  .theme-setting-ctn {
    flex-direction: column;
    gap: 30px;
  }

  .themes-ctn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .theme-image-ctn {
    max-height: 100px;
    max-width: 150px;
  }

  .theme-name-ctn {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .form-btn {
    display: flex;
    gap: 10px;
  }
}