<div class="content">
    <app-page-header [title]="title"></app-page-header>
    <div class="settings-section-ctn" [formGroup]="preferencesForm">
        <div class="section-head-ctn">
            <h2 class="section-subtitle">Préférences</h2>
            <ng-container *ngIf="isHandheld">
                <div>
                    <button *ngIf="!isSaving" class="form-btn" (click)="onSave()">Sauvegarder</button>
                    <button *ngIf="isSaving" class="form-btn-w-loader" disabled>
                        Sauvegarder
                        <span class="loader"></span>
                    </button>
                </div>
            </ng-container>
        </div>
        <div class="settings-section">
            <div class="theme-setting-ctn">
                <div class="sub-section-ctn">
                    <div class="sub-section-badge">
                        <h3 class="sub-section-title">Thème</h3>
                    </div>
                    <p class="sub-section-desc">Choisissez votre thème par défaut.</p>
                </div>
                <div class="themes-ctn">
                    <div class="theme-ctn">
                        <div class="theme-image-ctn" [ngClass]="{'selected' : this.selectedTheme == 'system'}"
                            (click)="switchSelectedTheme('system')">
                            <img *ngIf="!isHandheld" class="theme-image" src="assets/system-default.png" alt="">
                            <img *ngIf="isHandheld" class="theme-image" src="assets/system-default-m.png" alt="">
                            <div class="check-ctn">
                                <i class="bi bi-check-lg"></i>
                            </div>
                        </div>
                        <div class="theme-name-ctn">
                            <p class="theme-name">Système</p>
                        </div>
                    </div>
                    <div class="theme-ctn">
                        <div class="theme-image-ctn" [ngClass]="{'selected' : this.selectedTheme == 'light'}"
                            (click)="switchSelectedTheme('light')">
                            <img *ngIf="!isHandheld" class="theme-image" src="assets/light-default.png" alt="">
                            <img *ngIf="isHandheld" class="theme-image" src="assets/light-default-m.png" alt="">
                            <div class="check-ctn">
                                <i class="bi bi-check-lg"></i>
                            </div>
                        </div>
                        <div class="theme-name-ctn">
                            <p class="theme-name">Clair</p>
                        </div>
                    </div>
                    <div class="theme-ctn">
                        <div class="theme-image-ctn" [ngClass]="{'selected' : this.selectedTheme == 'dark'}"
                            (click)="switchSelectedTheme('dark')">
                            <img *ngIf="!isHandheld" class="theme-image" src="assets/dark-default.png" alt="">
                            <img *ngIf="isHandheld" class="theme-image" src="assets/dark-default-m.png" alt="">
                            <div class="check-ctn">
                                <i class="bi bi-check-lg"></i>
                            </div>
                        </div>
                        <div class="theme-name-ctn">
                            <p class="theme-name">Sombre</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="setting-separator"></div> -->
        </div>

        <div class="settings-section">
            <div class="graphs-settings">
                <div class="sub-section-badge">
                    <h3 class="sub-section-title">Graphiques</h3>
                </div>
                <div class="setting-ctn">
                    <label>
                        <input class="toggle-checkbox" type="checkbox" formControlName="showPercentagesOnCharts">
                        <div class="toggle-ctn">
                            <div class="switch-btn"></div>
                        </div>
                    </label>
                    <label class="setting-label" for="showPercentagesOnCharts">Afficher les pourcentages sur les
                        graphiques
                        compatibles</label>
                </div>
                <div class="setting-ctn">
                    <label>
                        <input class="toggle-checkbox" type="checkbox" formControlName="showLegendOnCharts">
                        <div class="toggle-ctn">
                            <div class="switch-btn"></div>
                        </div>
                    </label>
                    <label class="setting-label" for="showLegendOnCharts">Afficher les légendes sur les graphiques
                        compatibles</label>
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngIf="isHandheld">
        <div>
            <button class="form-btn" (click)="signOut()">
                Se déconnecter
                <i class="bi bi-box-arrow-right"></i>
            </button>
        </div>
    </ng-container>

    <ng-container *ngIf="!isHandheld">
        <div>
            <button *ngIf="!isSaving" class="form-btn" (click)="onSave()">Sauvegarder</button>
            <button *ngIf="isSaving" class="form-btn-w-loader" disabled>
                Sauvegarder
                <span class="loader"></span>
            </button>
        </div>
    </ng-container>
</div>