@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "/node_modules//bootstrap-icons//font/bootstrap-icons.css";

@import "/src/app/theme";

// custom modal animations
@import "src/app/shared/components/modal/modal-animations.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.p-inputswitch {
    display: flex;
}

.small-switch-btn {
    .p-inputswitch {
        height: 1.4rem;
        width: 2.6rem;

        &.p-inputswitch-checked {
            .p-inputswitch-slider::before {
                transform: translateX(1rem);
            }
        }
    
        .p-inputswitch-slider::before {
            width: 0.9rem;
            height: 0.9rem;
            margin-top: -0.45rem;
        }
      }
}