<div>
    <mat-stepper labelPosition="bottom" #stepper>
        <ng-template matStepperIcon="edit">
            <i class="bi bi-pencil-fill"></i>
        </ng-template>

        <mat-step [stepControl]="infosForm">
            <ng-template matStepLabel>Informations</ng-template>
            <h1 class="section-title">Informations personnelles</h1>
            <div class="form-ctn">
                <form [formGroup]="infosForm">
                    <div class="input-ctn full">
                        <label for="">Email*</label>
                        <input type="text" formControlName="email" placeholder="Email">
                    </div>
                    <div class="inputs-ctn flex">
                        <div class="input-ctn">
                            <label for="">Prénom*</label>
                            <input type="text" formControlName="firstName" placeholder="Prénom">
                        </div>
                        <div class="input-ctn">
                            <label for="">Nom*</label>
                            <input type="text" formControlName="lastName" placeholder="Nom">
                        </div>
                    </div>
                    <div class="inputs-ctn flex">
                        <div class="input-ctn">
                            <label for="">Diplôme possédé*</label>
                            <select class="input" formControlName="diploma">
                                <option value="" selected disabled hidden>Choisissez un diplôme</option>
                                <option *ngFor="let diploma of diplomasList" [value]="diploma.id">
                                    {{diploma.name}}
                                </option>
                            </select>
                        </div>
                        <div class="input-ctn">
                            <label for="">Département de résidence*</label>
                            <select class="input" formControlName="region">
                                <option value="" selected disabled hidden>Choisissez un département</option>
                                <option *ngFor="let region of regionsList" [value]="region.code">
                                    {{region.name}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="step-btns-ctn unique">
                        <button class="step-btn" matStepperNext type="button">Suivant</button>
                    </div>
                </form>
            </div>
        </mat-step>

        <mat-step [stepControl]="jpoForm">
            <ng-template matStepLabel>JPO</ng-template>
            <h1 class="section-title">Prévoyez vous de participer à la JPO physique ce 4 Février 2024 ?</h1>
            <div class="form-ctn">
                <form [formGroup]="jpoForm">
                    <div class="satisfaction-ctn">
                        <input type="radio" formControlName="isIrlAttendee" [value]="null" hidden>
                        <label class="radio-ctn" (click)="goToNextStep(stepper)">
                            <input type="radio" formControlName="isIrlAttendee" [value]="true">
                            <div class="satisfaction">
                                <i class="bi bi-emoji-laughing"></i>
                                <p>Oui, comptez sur moi !</p>    
                            </div>
                        </label>
                        <label class="radio-ctn" (click)="goToNextStep(stepper)">
                            <input type="radio" formControlName="isIrlAttendee" [value]="false">
                            <div class="satisfaction">
                                <i class="bi bi-emoji-frown"></i>
                                <p>Non, malheureusement</p>   
                            </div>
                        </label>
                    </div>

                    <div class="step-btns-ctn">
                        <button class="step-btn" matStepperPrevious type="button">Précédent</button>
                        <button class="step-btn" matStepperNext type="button">Suivant</button>
                    </div>
                </form>
            </div>
        </mat-step>

        <mat-step [stepControl]="virtualTourSatisfactionForm">
            <ng-template matStepLabel>Visite virtuelle</ng-template>
            <h1 class="section-title">Comment qualifiriez-vous votre expérience lors de la visite virtuelle ?</h1>
            <div class="form-ctn">
                <form [formGroup]="virtualTourSatisfactionForm">
                    <div class="satisfaction-ctn">
                        <input type="radio" formControlName="virtualTourSatisfaction" [value]="null" hidden>
                        <label class="radio-ctn" (click)="goToNextStep(stepper)">
                            <input type="radio" formControlName="virtualTourSatisfaction" [value]="0">
                                <div class="satisfaction happy">
                                    <i class="bi bi-emoji-laughing"></i>
                                    <p>Agréable</p>
                                </div>
                        </label>
                        <label class="radio-ctn" (click)="goToNextStep(stepper)">
                            <input type="radio" formControlName="virtualTourSatisfaction" [value]="1">
                                <div class="satisfaction neutral">
                                    <i class="bi bi-emoji-grimace"></i>
                                    <p>Neutre</p>
                                </div>
                        </label>
                        <label class="radio-ctn" (click)="goToNextStep(stepper)">
                            <input type="radio" formControlName="virtualTourSatisfaction" [value]="2">
                                <div class="satisfaction sad">
                                    <i class="bi bi-emoji-frown"></i>
                                    <p>Désagréable</p>
                                </div>
                        </label>
                    </div>

                    <div class="step-btns-ctn">
                        <button class="step-btn" matStepperPrevious type="button">Précédent</button>
                        <button class="step-btn" matStepperNext type="button">Suivant</button>
                    </div>
                </form>
            </div>
        </mat-step>

        <mat-step [stepControl]="websiteSatisfactionForm">
            <ng-template matStepLabel>Site</ng-template>
            <h1 class="section-title">Comment qualifiriez-vous votre navigation sur le site ?</h1>
            <div class="form-ctn">
                <form [formGroup]="websiteSatisfactionForm">
                    <div class="satisfaction-ctn">
                        <input type="radio" formControlName="websiteSatisfaction" [value]="null" hidden>
                        <label class="radio-ctn">
                            <input type="radio" formControlName="websiteSatisfaction" [value]="0">
                                <div class="satisfaction happy">
                                    <i class="bi bi-emoji-laughing"></i>
                                    <p>Agréable</p>
                                </div>
                        </label>
                        <label class="radio-ctn">
                            <input type="radio" formControlName="websiteSatisfaction" [value]="1">
                                <div class="satisfaction neutral">
                                    <i class="bi bi-emoji-grimace"></i>
                                    <p>Neutre</p>
                                </div>
                        </label>
                        <label class="radio-ctn">
                            <input type="radio" formControlName="websiteSatisfaction" [value]="2">
                                <div class="satisfaction sad">
                                    <i class="bi bi-emoji-frown"></i>
                                    <p>Désagréable</p>
                                </div>
                        </label>
                    </div>

                    <div class="step-btns-ctn">
                        <button class="step-btn" matStepperPrevious type="button">Précédent</button>
                        <button class="step-btn" matStepperNext type="button" (click)="submit()" [disabled]="checkIfAllFormsAreValid()">Envoyer</button>
                    </div>
                </form>
            </div>
        </mat-step>
    </mat-stepper>
</div>